.feature-box {
  background-color: rgba($white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
  transition: transform 0.3s;

  @include respond(tablet) { padding: 2rem; }

  &__icon {
    height: 6rem;
    margin-bottom: 2.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:hover { transform: translateY(-1.5rem) scale(1.03); }
}

.world { background-image: url(../logo/basic_world.png); }

.compass { background-image: url(../logo/basic_compass.png); }

.map { background-image: url(../logo/basic_map.png); }

.heart { background-image: url(../logo/basic_heart.png); }