* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  background: #f9fafb;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-around;
}

.box {
  margin: 25px 0;
}

.bold {
  font-weight: 600;
}

.prime {
  color: #393b3f;
}

.gray {
  color: #9b9d9f;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.hub {
  color: #989a9c;
  line-height: 1.4;
}

.avatar {
  border-radius: 50%;
}

.content {
  padding: 25px;
  text-align: center;
}

.rad {
  padding: 14px 32px;
  font-size: 16px;
  border-radius: 30px;
}

.inst {
  background: #feebef;
  color: #212330;
}

.inst:hover {
  transition: 0.5s;
  box-shadow: 0 20px 20px rgba(231, 103, 129, 0.2);
}

.email {
  background: #fef5ec;
  color: #212330;
}

.email:hover {
  transition: 0.5s;
  box-shadow: 0 20px 20px rgba(250, 207, 188, 0.3);
}

.end {
  justify-content: flex-end;
  position: relative;
}

.abs {
  position: absolute;
}

.right {
  right: -50px;
  bottom: 110px;
}

.left {
  right: -50px;
  bottom: 20px;
}

.card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.3);
}

.button {
  background: #ffe79a;
  color: #393d41;
}

.button:hover {
  transition: 0.5s;
  box-shadow: 0 20px 20px rgba(255, 255, 0, 0.2);
}
