* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  letter-spacing: 0.04em;
  background: #F9FAFB;
}

ul li {
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 1.6s ease-in-out infinite;
}

a { text-decoration: none; }

.flex { display: flex; }

.col { flex-direction: column; }

.center { justify-content: center; }

.space { justify-content: space-around; }

.box { margin: 15px 0; }

.bold { font-weight: 600; }

.prime { color: #393B3F; }

.gray { color: #9B9D9F; }

.hub { color: #989A9C; }

.rad { border-radius: 50%; }

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  min-height: 400px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: 0.5s;
}

.button {
  background: #F9D665;
  padding: 12px 32px;
  font-size: 16px;
  color: #393D41;
  border-radius: 30px;
}

.content {
  padding: 20px;
  text-align: center;
}

.card:hover { box-shadow: 0 30px 70px rgba(0,0,0,0.3); }

ul li:nth-child(1) {
  animation-delay: -1.4s;
  background: #4fc3f7;
  box-shadow: 0 0 50px #4fc3f7;
}

ul li:nth-child(2) {
  animation-delay: -1.05s;
  background: #f06292;
  box-shadow: 0 0 50px #f06292;
}

ul li:nth-child(3) {
  animation-delay: -0.7s;
  background: #ffff00;
  box-shadow: 0 0 50px #ffff00;
}

ul li:nth-child(4) {
  animation-delay: -0.35s;
  background: #76ff03;
  box-shadow: 0 0 50px #76ff03;
}

@keyframes animate {
  0%, 40%, 100% {
    transform: scale(0.2);
  }
  20% {
    transform: scale(1);
  }
}