* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.04em;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-around;
}

.root {
  width: 1280px;
}

.container {
  padding: 6.4rem;
}

.container:not(:last-child) {
  margin-bottom: 6.4rem;
}

.container:nth-child(1) {
  background-color: #fcf0ea;
}

.container:nth-child(2) {
  background-color: #e9e2f0;
}

.container:nth-child(3) {
  background-color: #d8ece8;
}

.container:nth-child(4) {
  background-color: #111;
}

.header {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.subhead {
  font-size: 1.6rem;
  line-height: 2rem;
}

.card {
  background-color: #fff;
  padding: 3.2rem;
  margin-top: 3.2rem;
}

.quote {
  font-size: 2rem;
  margin-bottom: 3.2rem;
}

.list {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6.4rem;
  grid-row-gap: 3.2rem;
}

.white {
  color: #fff;
}

.avatar {
  border-radius: 50%;
  margin-right: 2rem;
  height: 10rem;
}

.btn {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 1.6rem 2.4rem;
  transition: filter 0.4s,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.github {
  background-color: #dcf5e9;
}

.linked {
  background-color: #dcedf5;
}

.inst {
  background-color: #fce8ec;
}

.email {
  background-color: #f2e8e1;
}

.btn:not(:last-child) {
  margin-bottom: 0.8rem;
}

.btn:hover {
  filter: contrast(0.8) brightness(1.15);
}

.btn:active {
  transform: scale(0.95);
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
}
