@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@mixin bord($border, $color) {
  border: $border solid $color;
  border-radius: 100px;
  padding: 10px 20px;
}

@mixin list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@mixin section($bg, $minhg) {
  background: $bg;
  min-height: $minhg;
  padding: 1rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  position: relative;
  background: #22292C;
  color: #fff;
  background-size: auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative;

  .logo {
    img {
      width: 35px;
      height: 35px;
    }
  }
}

.menu {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.menu-link {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;

  .universe-logo {
    max-width: 100%;
    height: auto;
  }

  p {
    font-size: 30px;
    text-transform: uppercase;
  }
}

.get {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .get-down {
    @include bord(1px, #A166AB);
    text-align: center;
    margin-bottom: 10px;
  }
}

#speakers {
  @include section(#f9fafc, 600px);
}

.table-header {
  text-align: center;

  h2 {
    color: #22292C;
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
  }
}

.people-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.people-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex: 1 1 250px;
  flex-wrap: wrap;
  max-width: 320px;
  height: 400px;
  padding: 1rem;
  margin: 10px;
  background: #fff;
  border-radius: 1rem;
  transition: 0.2s;

  &:hover {
    box-shadow: 0px 0px 70px 10px rgba(204, 204, 223, 0.7);
  }

  img {
    max-width: 250px;
  }

  p {
    color: #9fa4af;
  }

  h4 {
    margin: 10px;
    font-weight: 500;
    font-size: 24px;
  }
}

#program {
  @include section(linear-gradient(135deg, #A166AB 0%, #5073B8 100%), 400px);
}

.head {
  text-align: center;
  color: #fff;

  h2 {
    font-size: 42px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px;
  }

  p {
    font-size: 1rem;
  }

  span {
    display: block;
    font-size: 22px;
    margin: 10px 0;
  }
}

.shedule {
  background: #1A1F21;
  box-sizing: border-box;
  padding: 15px;

  .tabs {
    @include list;
    background: #22292C;

    li {
      color: #828585;
      display: block;
      list-style: none;
      padding: 0 15px;

      &:hover {
        color: #fff;
        background: #13a793;
        border-radius: 6px;
      }
    }
  }

  .stage {
    @include list;
    margin: 25px 0;

    li {
      list-style: none;
      padding: 0 10px;

      span {
        display: block;
        text-transform: uppercase;
        font-size: 17px;
        padding: 4px 0;
      }

      .stage-text {
        color: #fff;
      }

      #yellow { color: #E67207; }
      #orange { color: #F2684C; }
      #pink { color: #EF4E7B; }
      #violet { color: #A166AB; }
    }
  }
}

#afterParty {
  @include section(#22292C, 400px);
}

.enter {
  padding: 45px 25px;
  color: #fff;
  border: 1px solid #6DBA82;
  border-radius: 6px;
  margin: 50px 0 0 0;

  h4 {
    font-size: 24px;
    margin: 0;
  }

  p {
    font-size: 18px;
    margin: 10px 0 0 0;
  }
}

#experience {
  @include section(linear-gradient(to right, #F79533 0%, #F37055 100%), 200px);

  .learn-more {
    @include bord(1px, #fff);
    text-align: center;
    margin: 10px 0;
  }
}
