@media (max-width: 500px) {
  .menu {
    display: block; }
    .menu a {
      display: block; }
      .menu a:not(:first-child) {
        display: none; }
      .menu a.icon {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 5px;
        right: -5px; }
        .menu a.icon div {
          margin-top: 15px; }
          .menu a.icon div span {
            display: block;
            width: 25px;
            height: 2px;
            background: #fff; }
          .menu a.icon div span + span {
            margin-top: 4px; } }

@media (max-width: 500px) {
  .menu {
    display: block; }
    .menu.active {
      z-index: 3;
      padding: 120px 15px 0 0; }
      .menu.active a {
        display: block;
        text-align: right; }
        .menu.active a .icon {
          display: block;
          text-align: right; } }
