@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 600px;
  position: relative;
  background: #22292C;
  color: #fff;
  background-size: auto; }

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  position: relative; }
  .header .logo img {
    width: 35px;
    height: 35px; }

.menu {
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.menu-link {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center; }
  .main-text .universe-logo {
    max-width: 100%;
    height: auto; }
  .main-text p {
    font-size: 30px;
    text-transform: uppercase; }

.get {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .get .get-down {
    border: 1px solid #A166AB;
    border-radius: 100px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px; }

#speakers {
  background: #f9fafc;
  min-height: 600px;
  padding: 1rem; }

.table-header {
  text-align: center; }
  .table-header h2 {
    color: #22292C;
    font-size: 42px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold; }
  .table-header p {
    font-size: 1rem; }

.people-tags {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.people-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex: 1 1 250px;
  flex-wrap: wrap;
  max-width: 320px;
  height: 400px;
  padding: 1rem;
  margin: 10px;
  background: #fff;
  border-radius: 1rem;
  transition: 0.2s; }
  .people-tag:hover {
    box-shadow: 0px 0px 70px 10px rgba(204, 204, 223, 0.7); }
  .people-tag img {
    max-width: 250px; }
  .people-tag p {
    color: #9fa4af; }
  .people-tag h4 {
    margin: 10px;
    font-weight: 500;
    font-size: 24px; }

#program {
  background: linear-gradient(135deg, #A166AB 0%, #5073B8 100%);
  min-height: 400px;
  padding: 1rem; }

.head {
  text-align: center;
  color: #fff; }
  .head h2 {
    font-size: 42px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px; }
  .head p {
    font-size: 1rem; }
  .head span {
    display: block;
    font-size: 22px;
    margin: 10px 0; }

.shedule {
  background: #1A1F21;
  box-sizing: border-box;
  padding: 15px; }
  .shedule .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background: #22292C; }
    .shedule .tabs li {
      color: #828585;
      display: block;
      list-style: none;
      padding: 0 15px; }
      .shedule .tabs li:hover {
        color: #fff;
        background: #13a793;
        border-radius: 6px; }
  .shedule .stage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin: 25px 0; }
    .shedule .stage li {
      list-style: none;
      padding: 0 10px; }
      .shedule .stage li span {
        display: block;
        text-transform: uppercase;
        font-size: 17px;
        padding: 4px 0; }
      .shedule .stage li .stage-text {
        color: #fff; }
      .shedule .stage li #yellow {
        color: #E67207; }
      .shedule .stage li #orange {
        color: #F2684C; }
      .shedule .stage li #pink {
        color: #EF4E7B; }
      .shedule .stage li #violet {
        color: #A166AB; }

#afterParty {
  background: #22292C;
  min-height: 400px;
  padding: 1rem; }

.enter {
  padding: 45px 25px;
  color: #fff;
  border: 1px solid #6DBA82;
  border-radius: 6px;
  margin: 50px 0 0 0; }
  .enter h4 {
    font-size: 24px;
    margin: 0; }
  .enter p {
    font-size: 18px;
    margin: 10px 0 0 0; }

#experience {
  background: linear-gradient(to right, #F79533 0%, #F37055 100%);
  min-height: 200px;
  padding: 1rem; }
  #experience .learn-more {
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 10px 20px;
    text-align: center;
    margin: 10px 0; }
